<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Our Team -->
<section id="team" class="team content-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="section-title h3">Our AT Internship Team</h2>
                <h3 class="caption gray">Meet the people who make awesome stuffs</h3>

                <!-- Team Internship 2020 -->
                <br>
                <h4 class="text-left">Internship 2020</h4>

                <!-- Team -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="img/internship/mike.jpg" width="300px" height="245px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Miguel Hern&aacute;ndez</h4>
                                <p>Service Delivery Director</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="img/internship/emiliaGuillen.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Java Developer | Family is Priority | Love Sports</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Emilia Guillen</h4>
                                <p>Java Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team -->

                <!-- Frontend Team -->
                <br>
                <h4 class="text-left">Frontend Team</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="/img/internship/oscar.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Full "Snack" Architect | Post Rock Music | Beer Fan</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/mbaosanchez" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Oscar S&aacute;nchez</h4>
                                <p>Full Stack Architect</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg"
                                        alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>The Mentor</h4>
                                <p>Mentor</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="/img/internship/intern.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>The Intern</h4>
                                <p>Intern dude</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="/img/internship/intern.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>The Intern</h4>
                                <p>Intern dude</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="/img/internship/intern.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>The Intern</h4>
                                <p>Intern dude</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="/img/internship/intern.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>The Intern</h4>
                                <p>Intern dude</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Frontend Team -->

                <!-- Backend Team -->
                <br>
                <h4 class="text-left">Backend Team</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Victor Munguia</h4>
                                <p>Java Architect</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Backend Team -->

                <!-- QE Team -->
                <br>
                <h4 class="text-left">QE Team</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" width="300px" height="245.5px" alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Jose Adan</h4>
                                <p>QE Architect</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- QE Team -->
                <!-- Team Internship 2020 -->

                <!-- Team Internship 2019 -->
                <br>
                <h5 class="text-left">Internship 2019</h5>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg"
                                        alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Lauren Cox</h4>
                                <p>Creative Director</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/jessie-barnett.jpg"
                                        alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo
                                            eligendi.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Jessie Barnett</h4>
                                <p>UI/UX Designer</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg"
                                        alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae
                                            alias omnis totam.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Terry Fletcher</h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member">
                                <figure>
                                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg"
                                        alt="" class="img-responsive">
                                    <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                            asperiores mollitia.</p>
                                        <ul>
                                            <li><a href="" class="social"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-twitter fa-2x"></i></a></li>
                                            <li><a href="" class="social"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Lauren Cox</h4>
                                <p>Creative Director</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Frontend Team -->
                <br>
                <h4 class="text-left">Frontend Team</h4>
                <div class="container">
                    <div class="row">
                    </div>
                </div>
                <!-- Frontend Team -->

                <!-- Backend Team -->
                <br>
                <h4 class="text-left">Backend Team</h4>
                <div class="container">
                    <div class="row">
                    </div>
                </div>
                <!-- Backend Team -->

                <!-- QE Team -->
                <br>
                <h4 class="text-left">QE Team</h4>
                <div class="container">
                    <div class="row">
                    </div>
                </div>
                <!-- QE Team -->
                <!-- Team Internship 2019 -->

            </div>
        </div>
    </div>
</section>
<!-- Our Team -->