<section class="card">
    <div class="card-body">
        <table style="width: 100%">
            <tr>
                <td style="text-align: center;">
                    <p>Courses</p>
                    <h2 class="title-reports">20</h2>
                </td>
                <td style="text-align: center;">
                    <p>Careers</p>
                    <h2 class="title-reports">2</h2>
                </td>
                <td style="text-align: center;">
                    <p>Task</p>
                    <h2 class="title-reports">50</h2>
                </td>
                <td style="text-align: center;">
                    <p>Clients</p>
                    <h2 class="title-reports">1</h2>
                </td>
                <td style="text-align: center;">
                    <p>Proyects</p>
                    <h2 class="title-reports">2</h2>
                </td>
                <td style="text-align: center;">
                    <p>Mentors</p>
                    <h2 class="title-reports">16</h2>
                </td>
            </tr>
        </table>
    </div>
</section>