<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
   <a href="/team">Our AT Team</a> - © 2021 Copyright: <a href="https://agilethought.com">agilethought.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->