NODE_ENV=development
PORT=4000

#MICROSERVICE - HEROKU - SSO
AT_SSO_SERVICE_URI=https://at-sso-api.herokuapp.com/api

#MICROSERVICE - HEROKU - UNIVERSITY
AT_UNIVERSITY_SERVICE_URI=https://at-university-api.herokuapp.com/api

#MICROSERVICE - HEROKU - RESOURCES
AT_RESOURCES_SERVICE_URI=https://at-resources-api.herokuapp.com/api

#MICROSERVICE - HEROKU
AT_SCE_SERVICE_URI=https://at-sce-api-qa.herokuapp.com/api

#MICROSERVICE - HEROKU - LOGIN/USERS
AT_SSO_SERVICE_URI_ENABLED=false

#ENABLE ENCRYPTION
LOGIN_ENCRYPTION_ENABLED=false
CREATE_USER_ENCRYPTION_ENABLED=false
UPDATE_USER_ENCRYPTION_ENABLED=false

#ENCRYPTION KEYS
RSA_PUBLIC_ENCRYPTION_KEY=
RSA_PRIVATE_ENCRYPTION_KEY=